{% extends "base.html" %}
{% block content %}
  <h1>Luo yksikkö</h1>
  <form method="post" action="{{base_path}}/unit">
    <div class="form-group">
      <label>yksikkö</label>
      <input class="form-control" name="unit" type="text">
    </div>
    <div class="form-group">
      <label>lisätietoa</label>
      <textarea class="form-control" name="info"></textarea>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Tallenna</button>
    </div>
  </form>
{% endblock %}
