{% extends "base.html" %}
{% block content %}
  <h1>Yksiköt:</h1>

  <p>
    <a href="{{base_path}}/unit/create" class="btn btn-success">Lisää yksikkö</a>
  </p>

  <div style="background: white; border-radius: 5px; padding: 15px;">
    <table class="table">
      <thead>
        <tr>
          <td>Yksikkö</td>
          <td>Lisätietoa</td>
        </tr>
      </thead>
      <tbody>
        {% for v in all %}
          <tr>
            <td><a href="{{base_path}}/unit/{{v.id}}">{{v.unit}}</a></td>
            <td>{{v.info}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
