{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}
  <h1>Styles:</h1>

  <p>
    <a href="{{base_path}}/style/create" class="btn btn-success">Add style</a>
  </p>

  <div style="background: white; border-radius: 5px; padding: 15px;">
    <table class="table">
      <thead>
        <tr>
          <td>Name</td>
          <td>Information</td>
        </tr>
      </thead>
      <tbody>
        {% for v in all %}
          <tr>
            <td><a href="{{base_path}}/style/{{v.id}}">{{v.name}}</a></td>
            <td>{{v.info}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
