{% macro bad_post_button(action, text) %}
  <form method="post" action="{{action}}" style="display: inline-block;">
    <button type="submit" class="btn btn-danger">{{text}}</button>
  </form>
{% endmacro %}
{% macro good_post_button(action, text) %}
  <form method="post" action="{{action}}" style="display: inline-block;">
    <button type="submit" class="btn btn-success">{{text}}</button>
  </form>
{% endmacro %}
{% macro choose(a, b) %}{% if a %}{{a}}{% else %}{{b}}{% endif %}
{% endmacro %}
{% macro selected(curr_id, expected_id) %}{% if curr_id == expected_id %}selected{% endif %}
{% endmacro %}
 