{% extends "base.html" %}
{% block content %}
  <h1>Ainekset:</h1>

  <div style="background: white; border-radius: 5px; padding: 15px;">
    <table class="table">
      <thead>
        <tr>
          <td>Nimi</td>
          <td>Yksikköhinta sentteinä</td>
          <td>Lisätietoa</td>
        </tr>
      </thead>
      <tr>
        <td>Ananas</td>
        <td>5000</td>
        <td>Tuore on parasta</td>
      </tr>
      <tr>
        <td>Ananas</td>
        <td>5000</td>
        <td>Tuore on parasta</td>
      </tr>
      <tr>
        <td>Ananas</td>
        <td>5000</td>
        <td>Tuore on parasta</td>
      </tr>
    </table>
  </div>
{% endblock %}
