{% extends "base.html" %}
{% block content %}
  <h1>Käyttäjät:</h1>
  <div style="background: white; border-radius: 5px; padding: 15px;">
    <table class="table">
      <thead>
        <tr>
          <td>Nimi</td>
          <td>Käyttötunnus</td>
        </tr>
      </thead>
      <tbody>
        {% for v in all %}
          <tr>
            <td><a href="{{base_path}}/user/{{v.id}}">{{v.name}}</a></td>
            <td>{{v.username}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
