{% extends "base.html" %}
{% block content %}
  <h1>Luo resepti</h1>
  <form  method="post" action="{{base_path}}/user">
    <div class="form-group">
      <label>tekijä</label>
      <div class="form-control" style="cursor: initial;" readonly><a href="{{base_path}}/user/{{user.id}}">{{user.name}}</a></div>
    </div>
    <div class="form-group">
      <label>ainekset</label>
      <ul class="form-control" style="height: initial; padding: 15px; list-style: outside none none; cursor: initial;" readonly>
        {% for v in ingredients %}
          <li><a href="{{base_path}}/ingredient/{{v.ingredient.id}}">{{v.ingredient.name}}</a> {{v.amount}} <a href="{{base_path}}/unit/{{v.unit.id}}">{{v.unit.unit}}</a></li>
        {% endfor %}
      </ul>
    </div>
    <div class="form-group">
      <label>ohjeet</label>
      <textarea class="form-control" style="resize: none; cursor: initial;" readonly>{{val.instructions}}</textarea>
    </div>
  </form>
{% endblock %}
