{% extends "base.html" %}
{% block content %}
  <h1>Ainekset:</h1>

  <p>
    <a href="{{base_path}}/recipe/create" class="btn btn-success">Lisää resepti</a>
  </p>

  <div style="background: white; border-radius: 5px; padding: 15px;">
    <table class="table">
      <thead>
        <tr>
          <td>Nimi</td>
          <td>Tekijä</td>
        </tr>
      </thead>
      <tbody>
        {% for v in recipe_user %}
          <tr>
            <td><a href="{{base_path}}/recipe/{{v.recipe.id}}">{{v.recipe.name}}</a></td>
            <td><a href="{{base_path}}/user/{{v.user.id}}">{{v.user.name}}</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
